.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.outside-wrapper {
  height: 100%;
  display: flex;
}

.map-wrapper {
  width: 80%;
}

.sidebar-wrapper {
  width: 20%;
}

#container-element {
  height: 100%;
}

@media screen and (max-width: 600px) {
  #container-element {
    margin-top: 5px;
    height: 1000px;
  }

  .outside-wrapper {
    height: 1000px;
    flex-direction: column;
  }

  .map-wrapper {
    width: 100%;
  }

  .sidebar-wrapper {
    width: 100%;
  }
}
